/* Fichier d'animations */

/* Blink (Press Start) */
.blink {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Glitch effect */
.glitch {
    position: relative;
    color: white;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dark-bg);
}

.glitch::before {
    left: 2px;
    text-shadow: -1px 0 red;
    clip: rect(24px, 550px, 90px, 0);
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

.glitch::after {
    left: -2px;
    text-shadow: -1px 0 blue;
    clip: rect(85px, 550px, 140px, 0);
    animation: glitch-anim 2.5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
    0% {
        clip: rect(11px, 9999px, 85px, 0);
    }

    20% {
        clip: rect(98px, 9999px, 3px, 0);
    }

    40% {
        clip: rect(24px, 9999px, 68px, 0);
    }

    60% {
        clip: rect(2px, 9999px, 16px, 0);
    }

    80% {
        clip: rect(65px, 9999px, 88px, 0);
    }

    100% {
        clip: rect(39px, 9999px, 6px, 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip: rect(65px, 9999px, 100px, 0);
    }

    20% {
        clip: rect(4px, 9999px, 26px, 0);
    }

    40% {
        clip: rect(78px, 9999px, 2px, 0);
    }

    60% {
        clip: rect(13px, 9999px, 96px, 0);
    }

    80% {
        clip: rect(56px, 9999px, 11px, 0);
    }

    100% {
        clip: rect(83px, 9999px, 48px, 0);
    }
}

/* Transitions Vue.js */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}